<nav style="display: flex; justify-content: space-between;">
  <div style="display: flex;">

    <a href="/home">
      <div class="mainnavbtn" >Feed</div>
    </a>

    <a href="/users/find-friends">
      <div id="findFriends" class="mainnavbtn" >Find Friends</div>
    </a>
  </div>


  <% if (locals.currentUser.isFacebookUser) { %>
    <a href="/profile">
      <div class="pfp-img-wrapper">
        <img alt="pfp" class="pfp-img" src="<%=locals.currentUser.pfpUrl%>" />
      </div>
    </a>

    <% } else { %>
      <a href="/profile">
        <div class="pfp-img-wrapper">
          <img alt="pfp" class="pfp-img" src="data:image/<%=locals.currentUser.nonFacebookUserImg.contentType%>;base64,  
              <%=locals.currentUser.nonFacebookUserImg.data.toString('base64')%>">
        </div>
      </a>
      <% } %>

</nav>