<nav style="height: 50px; display: flex; ">
  <% if (locals.currentUser.isFacebookUser && locals.currentUser.pfpUrl) { %>
    <div style="height: 50px; width: 50px;">
      <img alt="pfp" style="height: 50px; width: 50px;" src="<%=locals.currentUser.pfpUrl%>" />
    </div>
    <% } %>


      <% if (!locals.currentUser.isFacebookUser && locals.currentUser.nonFacebookUserImg && 
        locals.currentUser.nonFacebookUserImg !=="" && locals.currentUser.nonFacebookUserImg.data ) { %>
        <div style="height: 50px; width: 50px; background-color: white;">
          <img alt="pfp" height="50px" width="50px" src="data:image/<%=locals.currentUser.nonFacebookUserImg.contentType%>;base64,
      <%=locals.currentUser.nonFacebookUserImg.data.toString('base64')%>">
        </div>
        <% } %>




          <a href="/profile">
            <div class="mainnavbtn" style="height: 49px; line-height: 30px;">Welcome, <%= locals.currentUser.name %>
            </div>
          </a>
          <a href="/home">
            <div class="mainnavbtn" style="height: 49px; line-height: 30px;">Feed</div>
          </a>

          <a href="/users/find-friends">
            <div id="findFriends" class="mainnavbtn" style="height: 49px; line-height: 30px;">Find Friends</div>
          </a>
          <a href="/log-out">
            <div class="mainnavbtn" style="height: 49px; line-height: 30px;">Logout</div>
          </a>
</nav>