<nav>
  <div style="display: flex; gap: 10px;">
    <a href="/home">
      <div class="mainnavbtn">Feed</div>
    </a>

    <a href="/users/find-friends">
      <div id="findFriends" class="mainnavbtn">Find Friends</div>
    </a>
  </div>


  <a href="/profile" class="profile-flex-group">
    <% if (locals.currentUser.isFacebookUser) { %>
      <img alt="pfp" class="pfp-img" src="<%=locals.currentUser.pfpUrl%>" />
      <% } else { %>
        <img alt="pfp" class="pfp-img" src="data:image/<%=locals.currentUser.nonFacebookUserImg.contentType%>;base64,  
          <%=locals.currentUser.nonFacebookUserImg.data.toString('base64')%>"/>
        <% } %>
        <div>

          <%= locals.currentUser.name %>
        </div>
  </a>

</nav>