<nav>
  <div style="display: flex; gap: 20px; align-items: center;">
    <a href="/home">
      <div class="mainnavbtn" >Feed</div>
    </a>

    <a href="/users/find-friends">
      <div id="findFriends" class="mainnavbtn" >Find Friends</div>
    </a>
  </div>


  <% if (locals.currentUser.isFacebookUser) { %>
    <a href="/profile">
        <img alt="pfp" class="pfp-img" src="<%=locals.currentUser.pfpUrl%>" />
    
    </a>

    <% } else { %>
      <a href="/profile">
          <img alt="pfp" class="pfp-img" src="data:image/<%=locals.currentUser.nonFacebookUserImg.contentType%>;base64,  
              <%=locals.currentUser.nonFacebookUserImg.data.toString('base64')%>">
     
      </a>
      <% } %>

</nav>