<div class="modal fade" id="viewPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true" style="word-wrap: break-word;">
  <div class="modal-dialog modal-dialog-centered" role="document" style="padding: 0px;">
    <div class="modal-content">
      <img id="postImg" src="" alt="img" width="100%" />
      <div class="modal-body" style="padding: 20px;">


        <h1 id="postTitle"></h1>

        <p id="postContent"></p>
        <p id="postAuthor"></p>

      </div>
      <div class="modal-footer" style="padding: 20px;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
