<!DOCTYPE html>
<html lang="en">
<head>
  <title>Error</title>

  <% if (locals.currentUser && locals.currentUser.settings.darkMode) { %>
    <link rel="stylesheet" href="../stylesheets/darkMode.css">

    <%} %>
</head>
<body>
An error occurred.
Please return <a href="/home">home</a>
</body>
</html>