<!DOCTYPE html>
<html lang="en">

<head>
  <title>Odinbook</title>
  <link rel="stylesheet" href="stylesheets/app.css">
  <link rel="stylesheet" href="stylesheets/loginform.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/registerform.css">
  <link rel="stylesheet" href="stylesheets/index.css">
  <% if (locals.currentUser && locals.currentUser.settings.darkMode) { %>
    <link rel="stylesheet" href="../stylesheets/darkMode.css">

    <%} %>
</head>

<body>
  <div class="App">
    <% if (locals.loginErrorMessage) { %>
      <div class="error-wrapper">Error: <%= locals.loginErrorMessage %>
      </div>
      <% }%>
        <div class="homescreenwrapper">
          <div class="lefthomewrapper">
            <div class="odinbooktitle">odinbook</div>
            <div class="odinbookdescription">
              Connect with friends and the world around you on Odinbook.
            </div>
          </div>

          <div class="righthomewrapper">
            <div class="loginformwrapper">
              <form method="post" action="/log-in" class="loginform">
                <div>Login</div>
                <input name='username' required class="usernamelogininput" type="text" placeholder="Username"
                  value="pabs1339"></input>

                <input name='password' required class="passwordlogininput" type="text" placeholder="Password"
                  value="godofwar74" />
                <input type="submit" class="loginbtn" value="Login" />

                <button onclick="location.href='/auth/facebook'" type="button" class="facebook-login-btn">Login with Facebook</button>

                <button onclick="location.href='/register'" type="button" class="createaccountbtn">Create new
                  account</button>


              </form>
            </div>

          </div>
        </div>
        <div class="homescreenfooter">
          English (US) Español Français (France) 中文(简体) العربية Português
          (Brasil) Italiano 한국어 Deutsch हिन्दी 日本語
        </div>
  </div>



</body>

</html>