.homescreenwrapper {
  display: flex;
  justify-content: space-around;
  background-color: rgb(226, 226, 226);
  height: 700px;
}

.odinbooktitle {
  color: rgb(65, 65, 255);
  font-weight: bold;
  font-size: 36pt;
  margin-left: 15px;
  margin-right: 15px;
}

.odinbookdescription {
  font-size: 16pt;
  color: rgb(101, 101, 101);
  margin-left: 15px;
  margin-right: 15px;
}

.lefthomewrapper {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.righthomewrapper {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.homescreenfooter {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
}

