.person-wrapper {
  background-color: rgb(64, 64, 255);
color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-top: 1px solid white;
}

.all-people-wrapper {
  width: 50%;
}

.friends-wrapper {
  width: 50%;
}

.peopletitle {
  padding: 5px;
  font-size: 18pt;
}

.find-friends-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.followbtn {
  padding: 5px;
}