.individual-post-wrapper {
    background-color: rgb(64, 64, 255);
    height: 130px;
    color: white;
    padding: 10px;
    margin: 5px;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
}

.individual-post-content {
    text-align: justify;
    color: rgb(164, 164, 164);
    font-size: 12pt;
}

.individual-post-title {
    font-size: 14pt;

}

.individual-post-like-count {
    color: rgb(164, 164, 164);
    font-size: 10pt;
    text-align: right;
}

.individual-news-wrapper {
    height: 130px;
    padding: 10px;
    margin: 5px;
    display: flex;
    background-color: rgb(64, 64, 255);
    margin-bottom: 5px;
}

.individual-news-left {
    width: 65px;
}

.individual-news-right {
    font-size: 10pt;
    margin-left: 10px;
}

.news-wrapper {
    width: 30%;
}

.individual-news-title {
    color: white;
}

.individual-news-content {
    color: rgb(164, 164, 164);
}

.news-img {
    object-fit: cover;
    height: 60px;
    width: 60px;
    border-radius: 10px;
}


.posts-title {
    padding-left: 5px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 16pt;
}

.newstitle {
    padding-left: 5px;
    padding-top: 5px;
    font-size: 16pt;

    font-weight: bold;
}

.noposts {
    padding: 5px;
}

.add-post-btn {
    border: none;
    width: fit-content;
    background-color: white;
    margin-bottom: 5px;
    font-size: 16pt;

}

.add-post-btn:hover {
    color: rgb(86, 86, 86);
}

.add-post-wrapper {
    display: flex;
    justify-content: center;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

