.error-wrapper {
  background-color: red;
  color: white;
  text-align: center;
  padding: 5px;
}

.facebook-login-btn {
  background-color: rgb(68, 143, 255);
  color: white;
  border: none;
  padding: 5px;
  border: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.guest-btn {
  background-color: brown;
  color: white;
  border: none;
  padding: 5px;
  border: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.register-success {
  background-color: rgb(21, 255, 0);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 5px;
}