.error-wrapper {
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px;
}

.facebook-login-btn {
    background-color: rgb(68, 143, 255);
    color: white;
    border: none;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
    text-align: left;
}

.facebook-login-btn:hover {
    background-color: rgb(30, 120, 255);
}

.guest-btn {
    background-color: rgb(187, 67, 67);
    color: white;
    padding: 5px;
    margin-top: 10px;
    text-align: left;
    cursor: pointer;
    border: none;
}

.guest-btn:hover {
    background-color: rgb(151, 20, 20);
}

.register-success {
    background-color: rgb(21, 255, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
}
