.loginformwrapper {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  /* margin: 5px; */
}

.createaccountbtn {
  background-color: rgb(20, 185, 20);
  color: white;
  border: none;
  padding: 5px;
  margin-top: 10px;
  border: 5px;

  cursor: pointer;

}

.createaccountbtn:hover {
  background-color: rgb(15, 172, 15);

}

.loginbtn {
  background-color: rgb(97, 97, 255);
  color: white;
  border: none;
  padding: 5px;
  border: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.loginbtn:hover {
  background-color: rgb(80, 80, 255);

}
.loginform {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 400px;

  /* padding: 5px; */

}

.passwordlogininput {
  margin-top: 10px;
  padding: 5px;
}

.usernamelogininput {
  margin-top: 10px;
  padding: 5px;


}