.loginformwrapper {
    display: flex;
    justify-content: center;
}

.createaccountbtn {
    background-color: rgb(20, 185, 20);
    color: white;
    border: none;
    padding: 5px;
    margin-top: 1rem;
    border: 5px;
    text-align: left;
    cursor: pointer;
}

.createaccountbtn:hover {
    background-color: rgb(15, 172, 15);
}

.loginbtn {
    background-color: rgb(97, 97, 255);
    color: white;
    border: none;
    padding: 5px;
    border: 5px;
    margin-top: 1rem;
    cursor: pointer;
    text-align: left;
}

.loginbtn:hover {
    background-color: rgb(80, 80, 255);
}
.loginform {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    width: 400px;
}

.passwordlogininput {
    margin-top: 1rem;
    padding: 5px;
}

.usernamelogininput {
    margin-top: 1rem;
    padding: 5px;
}
