.single-post {
    padding: 10px;
}

.comment-wrapper {
    padding: 10px;
}

.likebtn {
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(255, 87, 87);
    cursor: pointer;
    margin-left: 10px;
    border: none;
    color: white;
}

.likebtn:hover {
    background-color: rgb(255, 50, 50);
}

.add-comment-form {
    padding-left: 10px;
    padding-bottom: 10px;
}

.submit-comment-btn {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    background-color: rgb(0, 161, 0);
    color: white;
}
.submit-comment-btn:hover {
    background-color: green;
}
