.single-post {
    padding: 1rem;
}

.likebtn {
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(255, 87, 87);
    cursor: pointer;
    color: white;
    border: none;
}

.likebtn:hover {
    background-color: rgb(255, 50, 50);
}

.submit-comment-btn {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    background-color: rgb(0, 161, 0);
    color: white;
    border: none;

}
.submit-comment-btn:hover {
    background-color: green;
}
